<div class="home-top-action">
	<div class="row">
		<div class="col-sm-4 col-sm-offset-2">
			<div class="home-block-general">
				<h2>CREATE TRACK</h2>
				<img src="public/images/note.png" alt="">
				<a ui-sref=".create-track" class="btn btn-primary">CREATE TRACK</a>
			</div>
		</div>
		<div class="col-sm-4">
			<div class="home-block-general">
				<h2>CREATE ALBUM</h2>
				<img src="public/images/cd-single.png" alt="">
				<a ui-sref=".create-album" class="btn btn-primary">CREATE ALBUM</a>
			</div>
		</div>
<!-- 		<div class="col-sm-4">
			<div class="home-block-general">
				<h2>LIST ALL</h2>
				<img src="public/images/cd-bulk.png" alt="">
				<a ui-sref=".list-all" class="btn btn-primary">LIST ALL</a>
			</div>
		</div> -->
	</div>
	<div class="row">
		<div class="col-sm-4 col-sm-offset-2">
			<div class="home-block-general">
				<h2>EDIT TRACK</h2>
				<img src="public/images/note.png" alt="">
				<a ui-sref=".edit-track" class="btn btn-primary">EDIT TRACK</a>
			</div>
		</div>
		<div class="col-sm-4">
			<div class="home-block-general">
				<h2>EDIT ALBUM</h2>
				<img src="public/images/cd-single.png" alt="">
				<a ui-sref=".edit-album" class="btn btn-primary">EDIT ALBUM</a>
			</div>
		</div>
	</div>
</div>
